<!DOCTYPE html>
<html lang="en-US">
<!-- Veronica Kleinschmidt, 3/12/2017, This is one of the subpages of my third-quarter project and it is about English books. -->
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="icon" type="image/ico" href="SakuraFavicon.ico"/>
<title>Sakura English Books</title>
</head>
<body>
<div class="header">
	<a style="text-decoration:none;" href="index.html"><img src="SakuraHeader.jpg" alt="Sakura" width="100" style="float: left">
	<strong style="font-size: 60px;">Sakura Books</strong></a>
</div><br/>
<div style="margin: auto; width:90%; background-color: rgba(255,255,255,0); text-align:center;">
	<ul class="nav">
		<li class="nav"><a class="active" href="EnglishBooks.html">English Books</a></li>
		<li class="nav"><a class="nav" href="GermanBooks.html">German Books</a></li>
		<li class="nav"><a class="nav" href="SpanishBooks.html">Spanish Books</a></li>
		<li class="nav"><a class="nav" href="LightNovels.html">Light Novels</a></li>
		<li class="nav"><a class="nav" href="Feedback.html">Feedback</a></li>
	</ul><br/>
</div>
<div>
	<strong>English Books</strong>
</div><br/>
<div>
	<a href="https://www.goodreads.com/book/show/23395680-illuminae" target="_blank"><strong>Illuminae</strong></a><br/>
	By <a href="https://www.goodreads.com/author/show/5360335.Amie_Kaufman" target="_blank">Amie Kaufman</a><br/>
	Description:<br/>
	This morning, Kady thought breaking up with Ezra was the hardest thing she'd have to do. This afternoon, her planet was invaded.<br/>
	The year is 2575, and two rival megacorporations are at war over a planet that's little more than an ice-covered speck at the edge of the universe. Too bad nobody thought to warn the people living on it. With enemy fire raining down on them, Kady and Ezra-who are barely even talking to each other-are forced to fight their way onto an evacuating fleet, with an enemy warship in hot pursuit.<br/>
	But their problems are just getting started. A deadly plague has broken out and is mutating, with terrifying results; the fleet's AI, which should be protecting them, may actually be their enemy; and nobody in charge will say what's really going on. As Kady hacks into a tangled web of data to find the truth, it's clear only one person can help her bring it all to light: the ex-boyfriend she swore she'd never speak to again.
</div><br/>
<div>
	<a href="https://www.goodreads.com/book/show/28194.Inkheart" target="_blank"><strong>Inkheart</strong></a><br/>
	By <a href="https://www.goodreads.com/author/show/15873.Cornelia_Funke" target="_blank">Cornelia Funke</a><br/>
	Description:<br/>
	Twelve-year-old Meggie learns that her father, who repairs and binds books for a living, can "read" fictional characters to life when one of those characters abducts them and tries to force him into service.<br/>
	Characters from books literally leap off the page in this engrossing fantasy. Meggie has had her father to herself since her mother went away when she was young. Mo taught her to read when she was five, and the two share a mutual love of books. He can "read" characters out of books. When she was three, he read aloud from a book called Inkheart and released characters into the real world. At the same time, Meggie's mother disappeared into the story. This "story within a story" will delight not just fantasy fans, but all readers who like an exciting plot with larger-than-life characters.<br/><br/>
	(This is the English translation of the book Tintenherz by Cornelia Funke, which can be found <a href="GermanBooks.html#Tintenherz">here</a>.)
	<!-- Creds to echoecho.com for how to do anchor links. -->
</div><br/>
<div>
	<a href="https://www.goodreads.com/book/show/7824322-between-shades-of-gray" target="_blank"><strong>Between Shades of Gray</strong></a><br/>
	By <a href="https://www.goodreads.com/author/show/3407448.Ruta_Sepetys" target="_blank">Ruta Sepetys</a><br/>
	Description:<br/>
	Lina is just like any other fifteen-year-old Lithuanian girl in 1941. She paints, she draws, she gets crushes on boys. Until one night when Soviet officers barge into her home, tearing her family from the comfortable life they've known. Separated from her father, forced onto a crowded and dirty train car, Lina, her mother, and her young brother slowly make their way north, crossing the Arctic Circle, to a work camp in the coldest reaches of Siberia. Here they are forced, under Stalin's orders, to dig for beets and fight for their lives under the cruelest of conditions.<br/>
	Lina finds solace in her art, meticulously--and at great risk--documenting events by drawing, hoping these messages will make their way to her father's prison camp to let him know they are still alive. It is a long and harrowing journey, spanning years and covering 6,500 miles, but it is through incredible strength, love, and hope that Lina ultimately survives. Between Shades of Gray is a novel that will steal your breath and capture your heart.
</div><br/>
<div>
	<a href="https://www.goodreads.com/book/show/6493208-the-immortal-life-of-henrietta-lacks" target="_blank"><strong>The Immortal Life of Henrietta Lacks</strong></a><br/>
	By <a href="https://www.goodreads.com/author/show/2940640.Rebecca_Skloot" target="_blank">Rebecca Skloot</a><br/>
	Description:<br/>
	Her name was Henrietta Lacks, but scientists know her as HeLa. She was a poor Southern tobacco farmer who worked the same land as her slave ancestors, yet her cells-taken without her knowledge-became one of the most important tools in medicine. The first "immortal" human cells grown in culture, they are still alive today, though she has been dead for more than sixty years. If you could pile all HeLa cells ever grown onto a scale, they'd weigh more than 50 million metric tons-as much as a hundred Empire State Buildings. HeLa cells were vital for developing the polio vaccine; uncovered secrets of cancer, viruses, and the atom bomb's effects; helped lead to important advances like in vitro fertilization, cloning, and gene mapping; and have been bought and sold by the billions.<br/><br/>
	Yet Henrietta Lacks remains virtually unknown, buried in an unmarked grave.<br/><br/>
	Now Rebecca Skloot takes us on an extraordinary journey, from the "colored" ward of Johns Hopkins Hospital in the 1950s to stark white laboratories with freezers full of HeLa cells; from Henrietta's small, dying hometown of Clover, Virginia-a land of wooden slave quarters, faith healings, and voodoo-to East Baltimore today, where her children and grandchildren live and struggle with the legacy of her cells.
</div><br/>
<div>
	<a href="https://www.goodreads.com/book/show/83369.The_Mysterious_Benedict_Society" target="_blank"><strong>The Mysterious Benedict Society</strong></a><br/>
	By <a href="https://www.goodreads.com/author/show/47672.Trenton_Lee_Stewart" target="_blank">Trenton Lee Street</a><br/>
	Description:<br/>
	"Are you a gifted child looking for special opportunities?"<br/>
	Dozens of children respond to this peculiar ad in the newspaper and are then put through a series of mind-bending tests, which readers take along with them. Only four children-two boys and two girls-succeed. Their challenge: to go on a secret mission that only the most intelligent and inventive children could complete. To accomplish it they will have to go undercover at the Learning Institute for the Very Enlightened, where the only rule is that there are no rules. But what they'll find in the hidden underground tunnels of the school is more than your average school supplies. So, if you're gifted, creative, or happen to know Morse Code, they could probably use your help.
</div><br/>
<div>
	<a href="https://www.goodreads.com/book/show/915741.Walker_of_Time" target="_blank"><strong>Walker of Time</strong></a><br/>
	By <a href="https://www.goodreads.com/author/show/423691.Helen_Hughes_Vick" target="_blank">Helen Hughes Vick</a><br/>
	Description:<br/>
	The site: deserted cliff dwellings in a high-desert canyon.<br/>
	The time: the present and A.D. 1250.<br/>
	Walker of Time is the compelling, well researched story of a 15-year-old Hopi Indian boy, Walker Talayesva, and his freckle-faced companion Tag. Together they stumble, literally, into the midst of the final days of Walker's ancestral home.
</div><br/>
<div>
	<a href="https://www.goodreads.com/book/show/304351.First_Light" target="_blank"><strong>First Light</strong></a><br/>
	By <a href="https://www.goodreads.com/author/show/175329.Rebecca_Stead" target="_blank">Rebecca Stead</a><br/>
	Description:<br/>
	Peter is thrilled to join his parents on an expedition to Greenland, where his father studies global warming. Peter will get to skip school, drive a dogsled, and-finally-share in his dad's adventures. But on the ice cap, Peter struggles to understand a series of visions that both frighten and entice him.<br/>
	Thea has never seen the sun. Her extraordinary people, suspected of witchcraft and nearly driven to extinction, have retreated to a secret world they've built deep inside the arctic ice. As Thea dreams of a path to Earth's surface, Peter's search for answers brings him ever closer to her hidden home.
</div><br/>
</body>
</html>