<!DOCTYPE html>
<html>
<body>

<p>Try the Username: "CalebPowell" and the Password: "S2S"<p>

<form name="login">
<div class="login">
    <input type="text" placeholder="username" name="userid"><br>
    <input type="password" placeholder="password" name="pswrd"><br>
    <input type="button" onclick="check(this.form)" value="login"/>
</div>
</form>

<!-- The Script Below Defines the username and Password-->
<script>
function check(form){
  if(form.userid.value == "CalebPowell" && form.pswrd.value == "S2S"){
    open('tutors.html#welcome')
  }
  else{
    alert("the username and password you entered are wrong")
  }
}

</script>

</body>
</html>
