<!DOCTYPE html>
<html>
<body>

<form name="login">
<div class="login">
    <input type="text" placeholder="username" name="userid"><br>
    <input type="password" placeholder="password" name="pswrd"><br>
    <input type="button" onclick="check(this.form)" value="login"/>
</div>
</form>

<script>
function check(form){
  if(form.userid.value == "dew" && form.pswrd.value == "123"){
    window.open('http://www.youtube.com')
  }
  else{
    alert("the username and password you entered are wrong")
  }
}

</script>

</body>
</html>
