<!DOCTYPE html>
<html>

<body>
  <h1>Send JSON through AJAX POST</h1>
</body>
 <!-- BELOW IS THE SCRIPT FOR RECIEVING THE JASON FILE DATA-->
<script>
  const toSend = {
    name: "Linda Hall",
    subject : "Cheese",
    grade: 5,
    link:"https://www.youtube.com/watch?v=mNrJDGfQGz0"
  }

  const jsonString = JSON.stringify(toSend);
  const xhr = new XMLHttpRequest();

  xhr.open("POST", "recieve.php");
  xhr.setRequestHeader("Content-type", "application/json");
  xhr.send(jsonString);


</script>
  <!-- ---------------------------------------------------------->




</html>