<!DOCTYPE html>
<html>
  <head>
    <title>Students Helping Students</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    .responsive {
      width: 100%;
      height: auto;
    }
    body {
      position: relative; 
    }
    #section1 {padding-top:50px;color: #fff; background-color: #DE762B;}
    #chat {padding-top:50px;color: #fff; background-color: #673ab7;}
    </style>
  </head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="https://sos-test-app.herokuapp.com/">S2S</a>
      </div>
      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#section1">Welcome</a></li>
            <li><a href="#chat">Chat</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

<div id="section1" class="jumbotron text-center">
  </a>
  <a href="/" class="lang-logo">
    <img src="/lang-logo.png" style="width:150px;height:150px">
  </a>
  <h1>Welcome to the Tutor Portal!</h1>
</div>

<div id="chat" class="container-fluid">
  <h2> <a href="https://discord.gg/y4q7JGu">To join the chat as a tutor, click this link and join the server. 
    You must send messages from the discord website, however, you can view the chat from here.</a></h2>
  <widgetbot
          server="732330444132974682"
          channel="732983786920345630"
          height="600"
          class="responsive"
        ></widgetbot>
  <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
</div>
        
  </div>
  </div>
  </div>
  <body>