<!DOCTYPE html>
<html>
  <head>
    <title>Students Helping Students</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    body {
      position: relative; 
    }
    #section1 {padding-top:50px;height:2000px;color: #fff; background-color: #DE762B;}
    #chat {padding-top:50px;height:2000px;color: #fff; background-color: white;}
    </style>
  </head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="https://sos-test-app.herokuapp.com/">S2S</a>
      </div>
      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#section1">Welcome</a></li>
            <li><a href="#chat">Chat</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div id="section1" class="jumbotron text-center">
    <h1></h1>
    <h1></h1>
      <a href="/" class="lang-logo">
        <img src="/lang-logo.png" style="width:300px;height:300px">
      </a>
      <h1>Welcome to Student2Student!</h1>
      <p>A website for High School and College Students to explain concepts and offer individualized help to Elementary School students and their parents.</p>
      <a type="button" class="btn btn-primary btn-lg" role="button" href="student.html"><span class="glyphicon glyphicon-apple"></span>Elementary Student/Parent</a>
      <a type="button" class="btn btn-lg btn-default" role="button" href="tutors.html"><span class="glyphicon glyphicon-book"></span> High School and College Tutors</a>
      <div class="col-12 text-center">
        <a class="btn btn-outline-primary" href="mailto:corporate@s2s.com">Contact us to get started</a>
  </div>
  <div id="chat" class="tab-pane fade">
        <widgetbot
          server="732330444132974682"
          channel="732983786920345630"
          width="800"
          height="600"
        ></widgetbot>
        <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
      </div>
  </div>
  </div>
  <body>